<app-navbar></app-navbar>

<!-- Team -->
<!-- (onAddedate)="edate($event)" (onAddusername)="usercode($event)" -->
<div class="formdiv">
<app-eventform [item]="flag" (onAdd)="add($event)"  (onCancel)="cancel()"></app-eventform>
</div>
<section id="team" class="pb-5">
    <div class="container" >
        <h5 class="section-title h1">YOUR EVENTS</h5>
        <div class="row" *ngIf="data.length==0">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 m-auto">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <a href="" id="add" class="btn btn-primary btn-sm mt-5"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <a (click)="onadd()">
                            <div class="card">
                                <div class="card-body text-center p-auto">
                                    <h4 class="card-title font-size-large">Click to Add Event </h4>
                                    
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            
            

        </div>
    </div>
</section>
<!-- Team -->


<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<div class="container" *ngIf="data.length!=0">
    <div class="row  col-md-offset-2 custyle">
    <table class="table table-striped custab align-center">
    <thead>
    <a (click)="onadd()" class="ms-auto btn btn-primary btn-xs "><b>+</b> Add new Event</a>
        <tr>
            <!-- <th class="m-auto text-center">User code</th> -->
            <th class="m-auto text-center">Event Name</th>
            <th class="m-auto text-center">Date</th>
            <th class="text-center"></th>
        </tr>
    </thead>
            <tr *ngFor="let i of data">
                <!-- <td class=" text-center">{{i.usercode}}</td> -->
                <td class=" text-center">{{i.name}}</td>
                <td class=" text-center">{{i.date}}</td>
                <td class="text-center"><a (click)="delevent(i.name,i.date)" class="btn btn-danger"> Delete</a></td>
            </tr>
    </table>
    </div>
</div>
