<!-- <div id="left" class="sidenav">
    <div  class="login-main-text">
       <h2>Application<br> Login Page</h2>
       <p>Login or register from here to access.</p>
    </div>
 </div> -->
 <!-- <div class="main"> -->
 <div class="outer">
    
    <div  class="col-md-7 col-sm-12 ">
       <div  id="logpage" class="login-form">
          <form>
             <div class="form-group">
                <label>Email</label>
                <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Email">
             </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password">
             </div>
             <button (click)="login()" class="btn btn-black">Login</button>
             <button (click)="onreg()" class="btn btn-secondary ms-4">Register</button>
          </form>
       </div>
    </div>
 <div class="sidenav col-md-5 col-sm-12">
    <div  class="login-main-text">
       <h2>Login Page</h2>
       <p>#weserveyoubetter</p>
    </div>
 </div>

</div>
