/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Lato", sans-serif;
}


.outer{
    display: flex;
    height: 660px;
}
.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    /* height: auto; */
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
    background-image: url('/assets/photos/login.jpg');
    background-size: cover;

}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    form{
        padding-top: 20%;
        margin-left: 10%; 
        margin-right: 10%; 
    }

    .sidenav{
        width: 40%;
        /* position: fixed;  */
         z-index: 1; 
         top: 0; 
         left: 0;
     }

    .login-form{
        margin-top: 15%;
    }

    /* .register-form{
        margin-top: 20%;
    } */
}


.login-main-text{
    /* margin-top: 20%; */
    padding: 60px;
    color: black;
    /* font-weight: bolder; */
    margin-bottom: 100%;
}


.login-main-text h2{
    font-weight: 700;
}


.btn-black{
    background-color: #000 !important;
    color: #fff;
    margin-right: 5%;
}
#logpage{
    border-radius: 10%;
    background-color: #FFF;
    height: 25em;
    width: 25em;
    box-shadow: 1px 1px 20px black;
    margin-left: 25%;
}
